CLIENT_ID=your_client_id
CLIENT_SECRET=your_secret
TENANT_ID=your_tenant_id
JWT_SECRET=your_jwt_secret
REDIRECT_URI=REDIRECT_URI


#DB config
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_password
DATABASE=your_database_name
